.campoNombre, .campoEmail, .campoContraseña, .campoRepetir {
   display: flex;
   flex-direction: row;
   margin: 20px 0px;
}
p {
   margin: 0px;
   position: absolute;
   left: 350px;
}
.advertencia {
   color: red;
   margin-left: 10px;
}
input {
   margin-left: 10px;
   position: absolute;
   left: 150px;
   
}